<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28005317018-0b1u193oq70ikkoltukb87rqs81mhcrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28005317018-0b1u193oq70ikkoltukb87rqs81mhcrc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjrEhaPvKR-N-ax6-aWofdu5dX1Jdn8NY</string>
	<key>GCM_SENDER_ID</key>
	<string>28005317018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>deneme-10aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-10aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28005317018:ios:9141af3f23b74fa339e223</string>
</dict>
</plist>